@charset "utf-8";
/*
AZUL 	 - #1C222E
VERDE 	 - #009277 
VERMELHO - #C5141E
AMARELO	 - #DEAE0B
AZUL C	 - #1486C5
*/

::-moz-selection {color:#FFF;background:#5D6B7F;}
::selection {color:#FFF;background:#5D6B7F;}
.color-branco {color:#FFF;}
.color-cinza {color:#A7A9AC;}
.color-azul {color:#5D6B7F;}
.color-azul-c {color:#1486C5;}
.color-verde {color:#009277;}
.color-vermelho {color:#C5141E;}
.bg-verde {background:#009277;}
.bg-azul {background:#1C222E;}
.bg-azul-c {background:#1486C5;}
.bg-azul-o {background:#5D6B7F;}
.bg-cinza {background:#F2F2F2;}
.bg-vermelho {background:#C5141E;}
.bg-branco {background:#FFF;}
.bg-amarelo {background:#DEAE0B;}
.bg-info:{background:#C4E3F3;}
.color-info {color:#C4E3F3;}
.font20 {font-size: 20px;}
.font18 {font-size: 18px;}
html, body {
	width:100%;
	height:100%;
	font-family:Trebuchet MS, Arial, "Helvetica", sans-serif;
}

.loader-principal{
	position: fixed;
	left: 47.81%;
	top: 65px;
	z-index: 99999;
	width:70px;
}

.tamanho-x{font-size: 22px; margin-right: 8px; margin-top: -5px;}

.margin-icone-menu{
	margin-right: 20px;
}

a:hover {text-decoration: none;}

.fundo-login {
	width:100%;
	height:100%;
	background:#002132;
}

#alerts2 {text-align: center}

.container-form-login {
	height:auto;
	width:370px;
	background-position:center;
	border-radius:5px;
	background:#FFF;
	padding:25px 35px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-210px;
	margin-left:-185px;
}

.logo-login {
	width:210px;
	height:58px;
	margin:0 auto;
	background:url(../img/logo-login.png);
}

.altura-coluna {height:100%;}
.altura-coluna2 {min-height:100%;}
.menu-icon {margin-right: 15px;}

.opc-menus {
	text-decoration: none;
}

.menu {
	border-left:5px solid #1C222E;
	padding:15px 20px;
	color:#5D6B7F;
}

.menu-ativo {
	border-left:5px solid #009277;
	padding:15px 20px;
	color:#009277;
}

.barra-topo {
	min-height:50px;
	width:100%;
	background:#FFF;
	border-bottom: 2px solid #D1D3D4;
}

.corrige-alt-h4-barra {padding:5px 0 0 0;}
.corrige-alt-sair-barra {padding-top: 13px;}
.margin-campo-busca {margin-right: 10px;}
.padding-add-cont {padding:15px 0; margin-top: 10px; margin-bottom: 10px;}
.margin-top-label {margin-top: 5px;}
.margin-left-radio {margin-left: 20px;}
.padding-informacoes {padding:30px 5px;}
.tamanho-icone {font-size: 50px;}
.input-file {
	background:url(../img/upload.png) no-repeat center #5D6B7F;
	height:330px;
}
.input-file2 {
	background:url(../img/upload.png) no-repeat center #5D6B7F;
	height:180px;
}
.altura-mobile {height:50px;}
.input-file input{
 	display: block; 
    height: 330px; 
    width:100%; 
    opacity: 0; 
    overflow: hidden; 
    cursor:pointer;
}

.input-file2 input{
 	display: block; 
    height: 180px; 
    width:100%; 
    opacity: 0; 
    overflow: hidden; 
    cursor:pointer;
}
.altura-add-opcionais{
	margin-top:4px;
}
.texto-upload-img {
	margin-top: -60px;
}

.texto-upload-img2 {
	margin-top: -45px;
}
.relative {position:relative;}
.icones-dashboard {
	width:100px;
	height:100px;
	padding: 26px;
	border-radius: 10px;
	margin-right: 20px;
}

.numeros-dashboard {
	font-size: 80px;
	margin-top: -5px;
}
.padding10{padding:10px;}
.descritivo-numeros-dashboard {
	font-size: 16px;
	color:#99999F;
	margin-top: -12px;
}

.hover-img {
	position:relative;
	width:100px;
	overflow:hidden;
	margin:5px;
	float: left;
}
.foto-capa {
	border:2px solid #1486C5;
	border-radius: 5px;
}
.hover-img > img {
	width:100px;
	height:100px;
	border-radius: 5px;
	-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.hover-img:hover > img {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.hover-img .retina{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;    
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);    
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  	-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
}
.hover-img:hover .retina {
    opacity: 1;
    box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
    
}
.hover-img .retina .acoes-img {
	width:40px;
	height:40px;
	background:#FFF;
	border-radius: 100%;
	position:absolute;
	padding-top: 10px;
}
.acoes-img:hover {cursor:pointer;}
.esquerda {left:7px;}
.direita {right:7px;}
.tam-icone {font-size: 18px;}

