@charset "UTF-8";

/************* FONTS **************/
@font-face {
    font-family: 'titillium_bdbold';
    src: url('../fonts/titillium-bold-webfont.eot');
    src: url('../fonts/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-bold-webfont.woff2') format('woff2'),
         url('../fonts/titillium-bold-webfont.woff') format('woff'),
         url('../fonts/titillium-bold-webfont.ttf') format('truetype'),
         url('../fonts/titillium-bold-webfont.svg#titillium_bdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titilliumregular';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff2') format('woff2'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titilliumlight';
    src: url('../fonts/titillium-light-webfont.woff2') format('woff2'),
         url('../fonts/titillium-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titilliumsemibold';
    src: url('../fonts/titillium-semibold-webfont.woff2') format('woff2'),
         url('../fonts/titillium-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.titillium_bdbold{font-family:'titillium_bdbold';}
.titillium_regular{font-family: 'titilliumregular';}
.titilliumsemibold{font-family:'titilliumsemibold';}
.titilliumlight{font-family:'titilliumlight';}

*{margin:0; padding:0;}
html, body{width: 100%; height: 100%; font-family: 'titilliumregular';}
textarea {height:195px;}

.container-full{
	height: auto;
	width: 100%;
}

/* FONTS */
.font12{font-size: 12px;}
.font14{font-size: 14px;}
.font16{font-size: 16px;}
.font18{font-size: 18px;}
.font22{font-size: 22px;}
.font28{font-size: 28px;}
.font42{font-size: 42px;}
.font48{font-size: 48px;}
.font52{font-size: 52px;}

/* BGS*/
.color-verde-claro{color:#357353;}
.color-verde-escuro{color:#28563E;}
.color-branco{color: #FFF;}
.color-cinza{color:#AFAFAF;}
.color-cinza-forte{color:#58595b;}
.color-laranja{color:#F5A023;}


.bg-rodape{background-color: #354350;}
.bg-cinza{background-color: ;}
.bg-cinza-fraco{background-color: ;}
.bg-laranja{background-color: #E88E23;}
.bg-verde-escuro{background-color:#28563E;}
.bg-verde-claro{background-color: #357353;}
.bg-branco{background-color: #FFF;}


.hover-brancons{color:#357353;}
.hover-brancons:hover{color:#28563E;}
.linha-verde{background-color: #357353; height: 1px; border: 0;}
.linha-branco{background-color: #FFF; height: 1px; border: 0; }
.linha-valores{background-color: #FFF; height: 1px; width: 580px; border: 0; float: left; }
.linha-noticia{background-color: #AFAFAF; height: 1px; border: 0;}
::-moz-selection {color:#FFF;background:#E88E23;}
::selection {color:#FFF;background:#E88E23;}

.btn-enviar-contato{
	background-color:#E88E23; 
	width: 120px;
	height: 35px;
	color:#FFF;
	border-radius: 0px 10px 0px 10px;
	text-align: center;
	margin-top: 3px;
	font-size: 16px;
	color:#FFF;
	cursor: pointer;
}
.btn-enviar-contato:hover{background-color: #28563E;}

.inputs-formularios-contato{
	border-radius: 0px 8px 0px 8px;
	border: none;
	box-shadow: 2px 2px #E88E23;
	color:#AFAFAF;
}
.inputs-formularios-contato:focus{
	border-radius: 0px 8px 0px 8px;
	border: none;
	box-shadow: 2px 2px #357353;
}

/*-----------------------------------------------------*/

/*     MENU DESKTOP   */
.menu-desktop{
	width: 665px;
	height: 50px;
	float: right;
	text-align: center;
	list-style: none;
	padding-top:30px;
}
.itens-menu {
	color: #FFF;
	font-size:18px;
	text-decoration: none;
	display:inline;
	padding: 20px;
}
.itens-menu a {color: #FFF;}

.itens-menu:hover{
	border-top: 8px solid #fFF;
	padding-top:27px;
}
.menu-ativo{
	border-top: 8px solid #fFF;
	padding-top:27px;
	font-weight: bold;
}


/* Dropdown Button */
.dropbtn {
/*    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;*/
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: #357353;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/


/*  MENU MOBILE  */
.menu-mobile {
	width:51px;
	height:52px;
	background:url(../img/menu-mobile.png);
	margin-top: 20px;
	margin-right: -5px;
	cursor: pointer;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  rgb(0,0,0);
    background-color: rgba(53, 115, 83, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFF;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #E88E23;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/*-----------------------------------------------------*/

/*EMPRESA*/
.bg-img-missao-desktop{
	background: url(../img/img-empresa.png) no-repeat;
	background-size:cover;
	background-position: center;
	width: 100%;
	height: 390px; 
}
.bg-img-missao-mobile{
	background: url(../img/img-empresa.png) no-repeat;
	background-size:cover;
	background-position: center;
	width: 100%;
	height: 600px; 
}


/*    INDEX   */
.img-banner2{
	background: url(../img/img-construcao-civil.png) no-repeat;
	background-size:cover;
	background-position: center;
	width: 100%;
	height: 516px; 
}


/*   NOTICIAS  */
.video{width: 100%; height: auto;}
.branco-noticia{background-color: #FFF}
.box-noticia a:hover{color:#E88E23;}
.margin-noticias{width:289px; height:500px; margin-bottom: 160px;}
.img-noticia{width: 289px; height: 250px; background-color: #FFF;}
.img-noticia-destaque{width: 400px; height: 280px;}
.img-noticia-sozinha{max-width: 780%; max-height: 500%;}
.box-shadow-noticias{width: 289px; box-shadow: 4px 4px 0px #FFF;}
.box-shadow-noticias:hover{width: 289px; box-shadow: 4px 4px 0px #357353;}
.box-shadow-noticias-pagina{width: 289px; box-shadow: 4px 4px 0px #E3E3E3;}
.box-shadow-noticias-pagina:hover{width: 289px; box-shadow: 4px 4px 0px #357353;}
.box-noticia{
	width: 289px;
	height: 210px;
	background-color:#FFF; 
	padding: 10px;
}
.veja-mais-noticias{
	background-color:#E88E23; 
	width: 100px;
	height: 30px;
	color:#FFF;
	border-radius: 0px 10px 0px 10px;
	font-size: 14px;
	text-align: center; 
	padding-top:3px;
	font-family:'titillium_bdbold';
}
.veja-mais-noticias:hover{background-color:#28563E;}

.btn-veja-mais{
	width: 200px;
	height: 40px;
	border:3px solid #FFF;
	color:#FFF;
	border-radius: 0px 10px 0px 10px;
	font-size: 18px;
	text-align: center; 
	padding-top:3px;
	-webkit-transition:	all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.btn-veja-mais:hover{background:#FFF; color:#E88E23; border-color:#FFF;}



.veja-mais{color:#357353; margin-top: 15px;}
.img-logo{margin-left: -25px;}



/* PRODUTOS */
.bg-produtos{background: url(../img/background-produtos.png) repeat;}
.img-produto{width: 300px; height: 250px; background-size:cover } 
.margin-produtos{margin-bottom: 60px;}
.border-produtos{
	border-radius: 0px 10px 0px 10px;
	width: 300px;
	height: 350px;
	/*box-shadow: 3px 3px 3px #E88E23;*/
}
/*.border-produtos:hover{box-shadow: 3px 3px 3px #28563E;}*/
.border-produtos a:hover{color:#28563E;}
.border-produtos p a:hover{color:#E88E23;}




.banner-principal{
	background: url(../img/banner-principal.png) no-repeat;
	background-size:cover;
	background-position: center; 
	width:100%;
	height: 550px;
	z-index: -1;
}

.banner-principal-mobile{
	background: url(../img/banner-principal.png) no-repeat;
	background-size:cover;
	background-position: center; 
	width:100%;
	height: 350px;
	z-index: -1;
}

.margin-label{
	margin-left: 8px;
}



/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 135px;
    background-color: #E88E23;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}




/*WHATS DESKTOP */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom:transparent;  /*If you want dots under the hoverable text*/ 
    background-color: transparent;
    background: transparent;
}

.tooltip::before{
  display: none;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #E88E23;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
/*    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FFF transparent transparent transparent;*/
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}





/* VERIFICAÇÔES SEND EMAIL*/
.alerts{
	text-align: center;
}

.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}.alert h4{margin-top:0;color:inherit}.alert .alert-link{font-weight:700}.alert>p,.alert>ul{margin-bottom:0}.alert>p+p{margin-top:5px}.alert-dismissable,.alert-dismissible{padding-right:35px}.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}.alert-success hr{border-top-color:#c9e2b3}.alert-success .alert-link{color:#2b542c}.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#245269}.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}.alert-warning hr{border-top-color:#f7e1b5}.alert-warning .alert-link{color:#66512c}.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}.alert-danger hr{border-top-color:#e4b9c0}.alert-danger .alert-link{color:#843534}
.erro-validacao{color:#cd171a; display: none;}
.sucesso{color:#39a244; display: none;}

.erro{color:#cd171a; display: none;}
.loading{
	width:102px;
	height:102px;
  margin-top:20px;
	/*background: url(../img/loading-verde.svg) center no-repeat;*/
	/*display: none;*/
}
.campos-obrigatorios {
	color:#bbb;
	font-size: 14px;
	margin-top: -15px;
}

/********************SLAIDER PRODUTOS INDEX *****************************/

/*.mySlides {display:none}*/
/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 18px;
  color: #bbb;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color:  #E88E23;
}

/* Caption text */
/*.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/

/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* RODAPE */
.logo-elede {opacity: 0.8; filter: alpha(opacity=30);}
.logo-elede:hover {opacity: 1; filter: alpha(opacity=100);}
.margin-logo-elede{margin-top:-33px;}

.linha-rodape{width: 550px;}
.padding-text-rodape{padding-top: 8px;}
.padding-icone-rodape{padding:0 40px 0 40px;}
